#detlsrow{
    width: 80rem;
    margin-top: 5rem;
}
#detlsp{
    text-align: left;
    font-size: 18px;
    
}
span{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
#imgcont{
    height: 200px;
    width: 700px;
    text-align: center;
}

.col{
    margin: 20px;
}